<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://www.jatu.co.tz">
                        JATU PLC
                    </a>
                </li>
                <li>
                    <a href="">
                       Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        <i>Haki zote zimehifadhiwa</i>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, Imetengenezwa kwa <i class="fa fa-heart heart"></i> na <a href="https://www.creative-tim.com">Softhub</a>
        </div>
    </div>
</footer>